//В перевернутой версии телефона/планшета
// все плохо, нужно юзать relative, чтобы
//там было нормально. Но тогда съезжает
//обычный вид. Доработать.
.footer
  position absolute
  left 0
  bottom 0
  width 100%
  flex-grow: 0

.accept_code
  position relative
  padding 0 0 0 3.5em
  max-height 40%
  padding-bottom 10em

.accept_code_button
  position absolute
  border-radius 12px
  width 90%
  height 120px
  background-color #05960b
  font-size 35pt
  text-align center
  color white