@import url("common.css");
* {
  font-family: 'Roboto', sans-serif;
}
.header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 80px 50px;
}
.basket_title {
  height: 70px;
  width: 100%;
  padding: 0 0 0 50px;
  text-align: center;
  font-size: 55pt;
}
.fa-times-circle {
  color: #e3e3e3;
  font-size: 45pt;
  padding: 15px 0 0 0;
}
.pick-up_point {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px 50px;
}
.pick-up_address {
  display: flex;
  flex-direction: column;
  font-size: 30pt;
}
.address_from_bd {
  font-weight: bold;
}
.pick-up_address_change {
  font-size: 30pt;
  color: #05960b;
  padding: 1em;
  font-weight: bolder;
  text-decoration: underline;
}
.basket_dishes {
  width: 100%;
  padding: 0px 50px;
  display: flex;
  flex-direction: column;
}
.basket_delete_all {
  width: 100%;
  text-align: right;
  font-size: 30pt;
  color: #8c8c8c;
  text-decoration: underline;
}
.basket_ordered {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.order_pic_bd {
  width: 300px;
  height: 250px;
}
.pic_bd {
  width: 300px;
  height: 200px;
}
.basket_name_and_cost {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.name {
  width: 100%;
  font-size: 35pt;
  padding: 40px 0 0 20px;
}
.cost {
  font-size: 35pt;
  font-weight: bolder;
  padding: 5px 0 0 20px;
}
.order_quantity_s {
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 200px;
  padding: 50px 0 0 0;
}
.order_bd_quantity_num {
  font-size: 30pt;
}
.fa-minus-square {
  font-size: 40pt;
  padding: 0 30px 0 0;
  color: #e3e3e3;
}
.fa-plus-square {
  font-size: 40pt;
  padding: 0 0 0 30px;
  color: #e3e3e3;
}
.basket_recommendations {
  padding: 0 50px 20px 50px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: scroll;
}
.recommended_dish {
  width: 270px;
  height: 400px;
  background-color: #f5f5f5;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.recommended_dish_pic {
  height: 200px;
  width: auto;
}
.dish_pic_rec {
  height: 100%;
  padding: 20px;
}
.recommended_dish_name {
  text-align: center;
  font-size: 30pt;
}
.recommended_dish_cost {
  text-align: center;
  font-size: 30pt;
}
.basket_total_cost {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 80px 50px;
}
.basket_order_cost_text,
.basket_order_cost {
  font-size: 35pt;
}
.basket_order_cost {
  font-weight: bolder;
}
.basket_payment_button {
  width: 90%;
  height: 120px;
  border-radius: 15px;
  padding: 0px 0 0 0;
  margin: 0 50px 50px 50px;
  background-color: #05960b;
  color: #fff;
  justify-content: center;
  text-align: center;
  font-size: 40pt;
}
