@import url("common.css");
.body {
  max-width: 100%;
  width: 100%;
}
.main_content_authorization {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.authorization_pic {
  max-width: 100%;
  height: auto;
  padding: 0 0 3em 0;
}
.authorization_pic_img {
  width: 100%;
}
.authorization_text {
  padding: 0 5% 0% 5%;
  font-family: Roboto;
  font-size: 8em;
  font-weight: 500;
  color: #05960b;
}
.authorization_buttons {
  display: flex;
  flex-direction: column;
  padding: 3% 10% 3% 10%;
  max-width: 100%;
}
.button_login_link {
  padding: 0 0 2em 0;
}
.button {
  border: none;
  display: inline-block;
  width: 100%;
  height: 2em;
  font-size: 3em;
  background-color: #05960b;
  color: #fff;
}
.tele {
  max-width: 100%;
  padding: 0 0 5% 0;
}
.telep {
  width: 100%;
  font-size: 4em;
  text-decoration: underline;
  text-decoration-color: #808080;
  height: 100px;
  border: none;
  box-shadow: none;
}
.button_login {
  border-radius: 8px;
}
.button_registration {
  border-radius: 8px;
}
