* {
  font-family: 'Roboto', sans-serif;
}
.header {
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  display: block;
}
.menu_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header_logo {
  max-width: 100%;
  width: 25%;
  padding: 50px 0 20px 50px;
}
.header_delivery_switch {
  display: flex;
  flex-direction: row;
  font-weight: bold;
}
.header_delivery_text {
  padding: 60px 0 0 80px;
  font-size: 26pt;
  text-align: right;
}
.header_delivery_text_green {
  color: #05960b;
  font-size: 26pt;
  text-align: right;
}
.header_delivery_arrow {
  margin: 60px 20px 0 30px;
  max-width: 20px;
  width: 20px;
}
