.menu_footer {
  font-family: Roboto;
  margin: 0 100px 0 100px;
  border-radius: 5px;
}
.footer_panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: #fff;
  padding: 0 0 20px 0;
}
.footer_menu_button {
  display: flex;
  flex-direction: column;
}
.footer_pic {
  width: 100px;
  height: 100px;
}
.footer_pic_img {
  max-width: 100%;
  width: 100%;
}
.footer_text {
  font-size: 24pt;
  font-weight: bold;
}
.footer_basket_total {
  padding: 10px 0 0 40px;
}
.footer_basket_total_cost {
  position: absolute;
  background-color: #05960b;
  height: 37px;
  color: #fff;
  border-radius: 5px;
  font-size: 20pt;
  align-items: center;
}
