* {
  font-family: 'Roboto', sans-serif;
}
.arrow_back {
  padding: 2em 0 5em 3em;
}
.fa-arrow-left {
  color: #05960b;
  font-size: 55pt;
}
.reg_code_title {
  padding: 0 2em 0 2em;
  display: flex;
  text-align: center;
  font-size: 55pt;
  color: #05960b;
}
.reg_code_text {
  padding: 2em 3em 0 3em;
  display: flex;
  text-align: center;
  font-size: 35pt;
  font-family: Roboto, serif;
  color: #666;
}
.write_code {
  display: flex;
  flex-direction: row;
  height: 2em;
  padding: 6em 0 0 8.3em;
}
.tele {
  border-radius: 5px;
  padding: 0 20px 0 0;
  font-size: 36pt;
}
.telep {
  width: 100px;
  height: 100px;
  box-sizing: border-box;
  border-radius: 15px;
  font-size: 50pt;
  text-align: center;
  border-width: 0;
  color: #05960b;
  background-color: #e3e3e3;
}
.resent_code {
  padding: 3em 3em 0 3.5em;
  display: flex;
  text-align: center;
  font-size: 30pt;
  color: #666;
}
.resent_code_resent {
  display: none;
}
.resent_code_resent:active {
  display: flex;
  text-align: center;
  font-size: 35pt;
  color: #05960b;
}
